
* {
    margin: 0;
    padding: 35px;
    box-sizing: border-box;
}

body {
    background-color: lightgreen;
    background-color: rgb(212, 213, 231);
    padding: 10%;
    margin: 0;
}

h1 {
    padding: 10%;
    font-family: sans-serif;
    font-weight: bold;
    font-size:x-large;
    font-weight: bolder;
    font-size:xx-large;
    color: rgb(244, 249, 255);
}
img {
    width: 50em;
    padding: 10%;
    margin: o;
    display: flex;
    justify-content: center;
}
p {
    color: darksalmon;
    font-size: xx-large;
} 